.container {
		width: 100%;
		position: relative;
		min-height: 100vh;
		padding-bottom: var(--window-bottom);
		overflow: hidden;
		.goHome {
			transform: translateY(-100vh);
			opacity: 0;
		}
		.welcomePage {
			z-index: 9;
			transition: all .6s ease-in-out;  
			transition-delay: .5s;
			padding: 30px;
			box-sizing: border-box;
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			background: url('https://mp-3063b247-015d-4a4e-af76-296e5a85e6a4.cdn.bspapp.com/cloudstorage/1f481472-7bc8-4adc-861e-76d2506129a7.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			color: #fff;

			.title,
			text,
			button {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 300px;
			}

			.title {
				bottom: 40%;
				font-size: 30px;
				transition: all .3s ease-in-out;
			}
			text {
				bottom: 24%;
				opacity: .8;
				transition: all .3s ease-in-out;
				transition-delay: .3s;
			}

			button {
				color: #fff;
				bottom: 10%;
				height: 56px;
				line-height: 54px;
				width: 216px;
				margin: auto;
				border-radius: 30px;
				transition: all .5s ease-in-out;
				transition-delay: .2s;
				font-weight: bolder;
				background: rgba(255, 255, 255, 0.2);
				border: 2px solid rgba(255, 255, 255, 0.2);
				box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
			}
			.removeButton {
				width: 100%;
				bottom: 120%;
				opacity: 0;
			}
		}
}
.content-title {
	padding: 16px 10px 16px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.more {
		text-underline: auto;
	}
}
.home {
	min-height: 100vh;

	padding: 10px 0px 10px 10px;
	overflow: hidden;
	.home-header {
		width: calc(100% - 30px);
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		border-radius: 20px;
		padding: 10px;
		.header-title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			height: 80%;
			.name {
				opacity: 0.6;
				color: rgb(41, 47, 50);
				font-family: Poppins;
				font-size: 14px;
				font-weight: 400;
				line-height: 16px;
				letter-spacing: -0.40799999237060547px;
				text-align: center;
			}
			.slogan {
				color: rgb(41, 47, 50);
				font-family: Poppins;
				font-size: 24px;
				font-weight: 600;
				line-height: 30px;
				letter-spacing: 0px;
				text-align: center;
			}
		}
		.avtar {
			width: 54px;
			height: 54px;
			border: 1px solid #f8f8f8;
			border-radius: 50%;
			position: relative;
			&::before {
				content: "";
				width: 100%;
				height: 10%;
				background: rgba(0,0,0, 0.8);
				display: block;
				top:90%;
				left:0;
				position: absolute;
				border-radius: 50%;
				filter: blur(5px);
			}
			image {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
	}
	.home-type-change {

	  display: flex;
	  align-items: center;
	  padding: 20px 0;
	  overflow: scroll;
	  .type-item {
		  text-align: center;
		  color: rgb(3, 31, 42);
		  padding: 8px 16px;
		  background: rgba(3, 31, 42, 0.05);
		  border-radius: 8px;
		  margin-right: 8px;
		  transition: all .3s ease-in-out; 
		  &.active {
			 background: rgb(3, 31, 42);
			 color: #fff;
		  }
	  }
	}
	.home-experiences {
		margin-bottom: 16px;
		.content {
			overflow: scroll;
			display: flex;
			flex-wrap: nowrap;
			padding-bottom: 10px;
		}
		
	}
	.home-featured {
		.content {
			overflow: auto;
		}
	}
}