.calendar {
	padding: 24px;
	box-sizing: border-box;
	.calendar-title {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0px;
		color: rgb(41, 47, 50);
		margin-bottom: 24px;
	}
	.calendar-content {
		
	}
}