.calendar {
	box-sizing: border-box;
	height: 100vh;
	width: 100%;
	padding-bottom: var(--window-bottom);
	&.active ~ &{
		overflow: hidden;
	}
	.calendar-card{
		padding: 0 24px;
		box-sizing: border-box;
		width: 100%;
		margin-bottom: 10px;
		transition: all .5s cubic-bezier(0, 1, 0.95, 1.05); 
		position: relative;
		.date {
			position: absolute;
			width: calc(100% - 48px);
		
			box-sizing: border-box;
			top: 0;
			background-color: rgba(1, 2, 3, 0.38);
			height: 260px;
			border-radius: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			text {
				transition: transform 2s cubic-bezier(0, 1, 0.95, 1.05);		
			}
			.time {
				margin-left: 5px;
				transition: transform 2s cubic-bezier(0, 1, 0.95, 1.05);		
			}
		}
		&:first-child {
			margin-top: 10px;
		}
		.card-img {
			width: 100%;
			height: 260px;
			border-radius: 16px;
			overflow: hidden;
		}
		.hidden-content {
			height: 0;
			overflow: hidden;
			transition: all 1.6s cubic-bezier(0, 1, 0.95, 1.05);
		}
		.close {
			position: absolute;
			top: 10px;
			right: 16px;
			border-radius: 50%;
			background: rgba(1, 2, 3, 0.18);
			padding: 5px;
			box-sizing: border-box;
			visibility: hidden;
		}
		&.active {
			padding: 0;
			background-color: #fff;
			transform: translateY(var(--move-height));
			overflow: auto;
			.card-img {
				border-radius: 0;
			}
			.hidden-content {
				
				height: 100vh;
			}
			.close {
				visibility: visible;
			}
			.date {
				background: none;
				text-align: center;
				width: 100%;
				text {
					transform: translateY(-80px);
				}
				.time {
					width: 280px;
					transform: translateY(-80px) scale(1.2);
				}
			}
		}
	}
}
		